In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
train_df=pd.read_csv("/content/drive/MyDrive/MetaData/train.csv")
train_df

,image_name,patient_id,sex,age_approx,anatom_site_general_challenge,diagnosis,benign_malignant,target
0,ISIC_2637011,IP_7279968,male,45.0,head/neck,unknown,benign,0
1,ISIC_0015719,IP_3075186,female,45.0,upper extremity,unknown,benign,0
2,ISIC_0052212,IP_2842074,female,50.0,lower extremity,nevus,benign,0
3,ISIC_0068279,IP_6890425,female,45.0,head/neck,unknown,benign,0
4,ISIC_0074268,IP_8723313,female,55.0,upper extremity,unknown,benign,0
...,...,...,...,...,...,...,...,...
33121,ISIC_9999134,IP_6526534,male,50.0,torso,unknown,benign,0
33122,ISIC_9999320,IP_3650745,male,65.0,torso,unknown,benign,0
33123,ISIC_9999515,IP_2026598,male,20.0,lower extremity,unknown,benign,0
33124,ISIC_9999666,IP_7702038,male,50.0,lower extremity,unknown,benign,0
33125,ISIC_9999806,IP_0046310,male,45.0,torso,nevus,benign,0

In [ ]:
import pandas as pd
import numpy as np

train_df=pd.read_csv("/content/drive/MyDrive/MetaData/test.csv")
train_df

,image_name,patient_id,sex,age_approx,anatom_site_general_challenge
0,ISIC_0052060,IP_3579794,male,70.0,NaN
1,ISIC_0052349,IP_7782715,male,40.0,lower extremity
2,ISIC_0058510,IP_7960270,female,55.0,torso
3,ISIC_0073313,IP_6375035,female,50.0,torso
4,ISIC_0073502,IP_0589375,female,45.0,lower extremity
...,...,...,...,...,...
10977,ISIC_9992485,IP_4152479,male,40.0,torso
10978,ISIC_9996992,IP_4890115,male,35.0,torso
10979,ISIC_9997917,IP_2852390,male,25.0,upper extremity
10980,ISIC_9998234,IP_8861963,male,65.0,lower extremity
10981,ISIC_9999302,IP_6214039,male,30.0,upper extremity

In [ ]:
print (train_df.dtypes)

image_name                        object
patient_id                        object
sex                               object
age_approx                       float64
anatom_site_general_challenge     object
diagnosis                         object
benign_malignant                  object
target                             int64
dtype: object

In [ ]:
train_df.loc[(train_df['benign_malignant'] == 'benign') & (train_df['target'] ==0), 'yes'] = 1
print(sum(train_df["benign_malignant"]== 'benign'))
print*sum(train_df["yes"]== '1')

32542
0

In [ ]:

benign = train_df.loc[train_df.target == 0, 'image_name']
print (benign)

malignant = train_df.loc[train_df.target == 1, 'image_name']
print (malignant)

0        ISIC_2637011
1        ISIC_0015719
2        ISIC_0052212
3        ISIC_0068279
4        ISIC_0074268
             ...
33121    ISIC_9999134
33122    ISIC_9999320
33123    ISIC_9999515
33124    ISIC_9999666
33125    ISIC_9999806
Name: image_name, Length: 32542, dtype: object
91       ISIC_0149568
235      ISIC_0188432
314      ISIC_0207268
399      ISIC_0232101
459      ISIC_0247330
             ...
32969    ISIC_9955163
33000    ISIC_9963177
33014    ISIC_9967383
33050    ISIC_9978107
33117    ISIC_9998682
Name: image_name, Length: 584, dtype: object

In [ ]:
import os
import shutil

# Write the name of the directory here,
# that needs to get sorted
path = '/path/to/directory'


# This will create a properly organized
# list with all the filename that is
# there in the directory
list_ = os.listdir(path)

# This will go through each and every file
for file_ in list_:
	name, ext = os.path.splitext(file_)

	# This is going to store the extension type
	ext = ext[1:]

	# This forces the next iteration,
	# if it is the directory
	if ext == '':
		continue

	# This will move the file to the directory
	# where the name 'ext' already exists
	if os.path.exists(path+'/'+ext):
	shutil.move(path+'/'+file_, path+'/'+ext+'/'+file_)

	# This will create a new directory,
	# if the directory does not already exist
	else:
		os.makedirs(path+'/'+ext)
		shutil.move(path+'/'+file_, path+'/'+ext+'/'+file_)